h1,
h2,
h3,
p {
  text-align: center;
}
h1 {
  font-size: 48px;
  font-family: "Aoboshi One", serif;
}
h2 {
  font-size: 52px;
  font-family: "Aoboshi One", serif;
}
.units {
  font-size: 15px;
  position: relative;
  top: -28px;
  left: -13px;
}
h3 {
  font-size: 52px;
  margin: 10px;
}
p {
  margin: 0;
}

.today-data {
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}
.weather-images {
  font-size: 30px;
}

.weather-app {
  border: solid 1px #cacace;
  padding: 10px;
  max-width: 700px;
  margin: 20px auto;
  border-radius: 10px;
}

.footer {
  text-align: center;
  font-family: monospace;
}
